/* Change the background of the entire visible page */
body {
    background-color: #dddcdcc0; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(209, 127, 33);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid gold; /* Adds an gold
    border around the heading */
    padding: 10px; /* Adds space inside the border */}
